# ----------------------
# Angular
# ----------------------
node_modules/
dist/
.angular/
*.log

# ----------------------
# Django / Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual env
env/
venv/
.venv/

# Django static/media
staticfiles/
media/

# ----------------------
# Environment variables
# ----------------------
.env

# ----------------------
# OS / IDE
# ----------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------------
# Logs
# ----------------------
*.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*
